#mySidenav a{position:absolute;right:0px;transition:0.3s;padding:15px;text-decoration:none;font-size:15px;color:white;border-radius:5px 0px 0px 5px;}
#mySidenav a:hover{right:0;}
#about{top:20px;background-color:#4CAF50;}
.timeblinker{animation:timeblinker 5s linear infinite;}@keyframes timeblinker{50%{opacity:0.5;}}