body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.timeblinker{animation: timeblinker 4s linear infinite;}@keyframes timeblinker {50% { opacity: 0.5; }}